﻿/**
 * Table of Contents:
 *
 * 1.0 - Blog Page
 * 2.0 - Blog Post
 *   2.1 - Post Header
 *   2.2 - Post Thumbnail
 *   2.3 - Post Summary
 *   2.4 - Author Information
 *   2.5 - Post Navigation
 *   2.6 - Pagination
 *
 * 3.0 - Comments
 * 4.0 - Sidebar
 * 5.0 - Media Queries
 *
 *
 * -----------------------------------------------------------------------------
 */
 
 
/***********************
***** 1.0 Blog Page *********
*************************/

		#blog section.content{ padding-top:0; }
		.blog-posts-wrap{ background-color:#f8f8f8; text-align:center; width:100%; padding:1.5em 0; clear:both; }
		
		/* All Images inside posts will be curved corner */
		.content .post-img{ border-radius: 4px;}
		
		.blog-posts-wrap .more-arrow{ color:#666; }
	

/***********************
***** 2.0 Blog Post *********
*************************/

		.blog-posts-list{ margin:0; list-style:none; padding:0 0 1.5em 0;}
		.blog-posts-list .blog-posts-item {
		 	position:relative;
		 	background-color:#fff;
		 	padding-bottom:2.5em; margin-bottom:2.5em;
		 	border-radius:6px; text-align:left;
		 	/* Box Shadow */
			-moz-box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.10);
			-webkit-box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.10);
			box-shadow: 1px 0 2px 1px rgba(0, 0, 0, 0.10);
			/* Transition Effect */
			-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; 
			-ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
			
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
		 }	 
		 
		 /* List Item Rollover */
		 .blog-posts-list .masonry-post:hover{ background-color:#34afaf; }
		 .blog-posts-list .masonry-post:hover .post-date{ color:#69d1d1; }
		 .blog-posts-list .masonry-post:hover .post-title a,
		 .blog-posts-list .masonry-post:hover .post-summary { color:#fff; }
		 
		 .blog-posts-list .blog-posts-item:hover .grey-circle-arrow,
		 .blog-posts-list .blog-posts-item:hover .orange-circle-arrow { background-position:left; }
		 
		 
		 /* Standard Blog */
		 .standard-blog .blog-posts-item { padding:2em 2.5em 2.5em 2.5em; margin-bottom:3.5em; }
		 
		 .standard-blog .blog-posts-item .post-summary{ padding:1em 0 !important; }
		 .standard-blog .sticky-icon{ left:45% !important; }
		 
		 
		 /* Blockquote/Quote Post Format */	
		.blog-posts-item.format-quote{ background-color:#fce66f !important; }
		.blog-posts-item.format-quote .post-summary{ padding-top:2em;  }
		.blog-posts-item.format-quote blockquote{ padding:0; background:none; }
		.blog-posts-item.format-quote blockquote:before{ color:#f8d04c; position:static; display:block; width:80px;}
		.blog-posts-item.format-quote blockquote{ font-size:0.9em; }
		.blog-posts-item.format-quote blockquote p,
		.blog-posts-item.format-quote blockquote cite,
		.blog-posts-item.format-quote blockquote footer { padding-left:0 !important; }
		.blog-posts-item.format-quote blockquote p{ padding-top:15px; }
		
		
		/* Gallery post format */ 
		.blog-posts-list .masonry-post .flexslider .slides img{ width:307px; height:auto; }
		
		
		/** Sticky Post **/
		.blog-posts-item .sticky-icon { 
		width:50px; height:44px; display:block; 
		position:absolute; top:-1.5em !important; 
		left:1.5em; z-index:9999; 
		background:url(../images/sticky-icon.png) no-repeat; 
		}
	 
	 
	/***********************
	***** 2.1 Post Header *********
	*************************/
	
		.standard-blog .blog-posts-item .post-header{ padding:0 !important; margin:0 0 1.5em 0 !important; }
		.blog-posts-list .blog-posts-item .post-header{ position:relative; margin:1.5em 0 0 0;}
			
		.blog-posts-list .blog-posts-item .post-header,
		.blog-posts-list .blog-posts-item .post-summary{padding:0 2em;}
		 
		.blog-posts-list .blog-posts-item .post-title { margin:0 0 0.2em 0; padding:0; color:#000; }
		.blog-posts-list .blog-posts-item .post-title a{ color:#000; text-decoration:none; }
		.blog-posts-list .blog-posts-item .post-title a:hover{ text-transform:uppercase; }
		.blog-posts-list .blog-posts-item .post-date{ color:#c2c2c2; text-transform:uppercase; font-size:0.8em; }
	
	
	/****************************
	***** 2.2 Post Thumbnail *********
	*****************************/
	
	
	/***************************
	***** 2.3 Post Summary *********
	*****************************/
	
		.blog-posts-list .blog-posts-item .post-summary{ color:#333; font-family:'Open Sans', Arial, Helvetica, sans-serif; }
		
		/** Aside Format **/
		.blog-posts-item.format-aside .post-summary{ padding-top:1em; }
		
		/* Auto Read more */
		.auto-read-more-link{ font-weight:700; font-style:italic; display:inline-block; margin-left:10px; }
	
	
	
	/**************************
	***** 2.4 Author Information *********
	****************************/
	
		/** Author Info **/
		.author-info{ background-color:#e6e4e5; border-radius:4px; padding:1.5em; text-align:left; }
		.author-info a{ font-weight:700; color:#666; font-style:italic; }
		.author-info .avatar{ width:70px; height:70px; border-radius:50%; }
		.author-info .author-title{ text-transform:uppercase; color:#333;}
	
	
	/**************************
	***** 2.5 Post Navigation *********
	****************************/
		
		/* Post Navigation */
		.single-nav { margin-top:30px; }
		.single-nav a { display:inline-block; padding:1em 1.5em; font-size:1em; font-weight:700; color:#666; border:2px solid #f8f8f8; }
		.single-nav a:hover{ border:2px solid rgba(0,0,0,0.1); }
		
		.single-nav .prev_post{ text-align:right; }
		.single-nav .newer_post{ text-align:left; }
		
		.single-nav .prev_post:before,
		.single-nav .newer_post:before{  width:100px; border-bottom:1px solid #ccc; height:20px; display:block; text-align:left; color:#999; font-weight:normal; text-transform:uppercase; font-size:0.8em; }
		
		.single-nav .prev_post:before{ content:"Older Posts"; text-align:right;	}
		.single-nav .newer_post:before{ content:"Newer Posts"; width:100px; height:20px; display:block; }
	
	
	/**************************
	***** 2.6 Pagination *********
	****************************/
	
		/* Pagingation */
		.pagination-wrap{ text-align:center; padding-top:50px; padding-bottom:20px; clear:both; }
		.pagination-wrap span{ display:inline-block; margin:0 0.5em; }
		.pagination-wrap .current,
		.pagination-wrap a { display:inline-block; width:25px; height:25px; line-height:25px; border-radius:50%; text-decoration:none; }
		.pagination-wrap .current{ background-color:#50c6c6; color:#fff; cursor:default; }
		.pagination-wrap a:hover { background-color:#feec76; color:#333; }
	 
	 	 		 		 
	 
/***********************
***** 3.0 Comments *********
*************************/
	
	.comments-area { text-align:left; margin:3em 0; }
	.comments-area .comments-title,
	.comments-area .comment-reply-title { color:#333; text-transform:uppercase; font-weight:700; font-size:1.1em; margin:4.5em 0; position:relative; }
		.comments-area .comments-title:after,
		.comments-area .comment-reply-title:after { content:""; width:80px; height:4px; background-color:#666; display:block; margin-top:0.7em; }
	.comments-area ol{ list-style-type:none; margin:0; padding:0; }
	.comments-area ol li{ margin:0.5em 0; padding:0; }
	.comment-awaiting-moderation { background-color:#fff799; border:1px solid #f1c866; border-radius:2px; padding:0 1em; font-style:italic; color:#333; }
	
	.bypostauthor{
		margin:0.5em 0;
	}
	.comments-area .children{ margin: 0 0 0 5px; padding:0; }
	.comments-area .comment{ border-bottom:1px solid #dddbdb; position:relative; padding-bottom:1.5em; margin-bottom:1.5em; margin-top:3.5em !important; }
		.comments-area .comment:last-child { border-bottom:none; }
	.comments-area .the_author { background-color:#F7E040; border-radius:2px; display:block; width:60px; text-align:center; line-height:1em; font-size:0.8em; padding:0.3em 0.3em 0.5em 0.3em; color:#333; }
	.comments-area .comment_author { color:#333; margin-bottom:0; clear:none; font-weight:700; font-size:1.1em; }
	.comments-area .comment_author a { color:#09A7A7; }
		.comments-area .comment_author a:hover { color:#E76D04; }
	.comments-area .comment-time{ color:#999; font-size:0.8em; }
	.comments-area .comment-author-avatar img.avatar{ width:60px; height:60px; border-radius:50%; }
	.comments-area .comment-author-avatar{ float:left; margin:0 1em 1em 0; }
	.comments-area .comment-content{ margin:1em 0 1em 1em; padding:0 0 0 70px; }
	.comments-area .comment-reply a{ padding:0.3em 1.5em 0.5em 1.5em; font-size:0.8em; border-radius:2px; background:#E76D04; color:#fff; }
		.comments-area .comment-reply a:hover { background:#C06517; }
		
	/* Comment Area */
	.comment-form-author input[type=text],
	.comment-form-email input[type=text],
	.comment-form-url input[type=text]{ width:99%; }
	.comment-form-comment textarea { width:100%; overflow:hidden; clear:both; }



/***********************
***** 4.0 Sidebar *********
*************************/
	 
	#sidebar{ text-align:left; }
	#sidebar ul,
	#sidebar ol{ list-style:none; margin:0; padding:0.2em 0; }
	#sidebar li{ margin:0.6em 0; }
	#sidebar aside{ margin-bottom:4em; }

	#sidebar .widget_title{ color:#333; }	
	.widget_title{ text-transform:uppercase; font-weight:700; font-size:1.1em; clear:both; margin:1.5em 0; }
	
	/* Category */
	#sidebar aside#categories li { font-weight:700; }
	/* Recent Posts */
	#sidebar aside#recent_posts a { font-weight:700; }
	
	
	
	
/***********************
***** 5.0 Media Queries *********
*************************/
	
	
	/* Up to Mobile Landscape Size */
	@media only screen and (max-width: 479px) {
		.blog-posts-list .masonry-post{ width:48%; margin:1%; float:left; }
	}
	
	@media screen and (max-width: 960px) {
		.blog-posts-list .masonry-post{ width:48%; margin:1%; float:left; }		
	}	
	
	/* Beyond standard 960 */
	@media only screen and (min-width: 960px) {
		/* Blog Posts - 3 Column */
		.blog-posts-list{ max-width:980px; margin:auto; }
		.blog-posts-list .masonry-post{ width:31.33333333333333%; margin:1%; float:left; }
		.blog-posts-list{ margin:0; }
		
		#primary-content-area, #sidebar { float:left; }
		#primary-content-area{ width:65%; margin-right:10%; }
		#sidebar{ width:25%; text-align:left; }
		
		/** Author Info **/
		.author-info .author-avatar{ float:left; margin:1em; }
		.author-info .author-description{ margin:1em; padding:0 0 0 90px;  }
		.author-info .author-title{ clear:none; }
		
		.single-nav { margin:50px 0 100px 0; }
		
		/* Comment Reply Button change position - top right */
		.comments-area .comment-reply{ position:absolute; top:0; right:0; }
		.comments-area .children{ margin: 0 0 0 40px; }
		
		/* Comment Form */
		.comment-form-author,
		.comment-form-email,
		.comment-form-url{ width:32.33333333333333%; float:left; margin-right:1%; }			
		
	}