﻿/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.slider{ clear:both; }
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
	display: none; 
	/* -webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden; */
	 position:relative; 
 } /* Hide the slides before the JS is loaded. Avoids image jumping */
 
.flexslider .slides > li:first-child{ display: block; }
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}


/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
ul.flex-direction-nav { width:70px !important; display:inline-block; position:absolute; top:3em; right:0; z-index:99;}
.flex-direction-nav a {width:30px; height:36px; display:block; float:left; text-indent: -9999px; border-radius:3px; opacity:0.9; }
.flex-direction-nav .flex-next{ background:#333 url(../images/arrow-right.png) no-repeat 50% 50%;}
.flex-direction-nav .flex-prev{ background:#333 url(../images/arrow-left.png) no-repeat 50% 50%; margin-right:2px;}
.flex-direction-nav a:hover{ background-color:#34afaf; opacity:1; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; text-align: center; display:none;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* Slide Caption */
.flex-caption{ 
background-color:#f7e040; padding:1.5em 7%;
		/* Transition Effect */
		-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; 
		-ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
 } 
.flex-caption h2{ margin:0; color:#000; text-transform:uppercase; line-height:1.2em; font-size:1.2em; display:inline-block; clear:none; }
.flex-caption p{ color:#000; font-weight:200; margin:0; }

/* Home Version 2 */
#home-v2 .flex-caption{ background-color:#333; }
#home-v2 .flex-caption h2{ color:#fff; }
#home-v2 .flex-caption p{ color:#999; }


@media screen and (max-width: 860px) {
}

/* Tablet Portrait */
@media only screen and (min-width: 480px) {
	
	.flex-caption { padding:1em 3em; top:1.5em; left:7%; position:absolute; z-index:9999; max-width:240px; border:none; }
	.flex-caption h2{font-size:1em; line-height:1.4em; display:block; }
	.flex-caption h2:after { content:''; border-bottom:4px solid #e4bc1e; position:absolute; width:65px; bottom:0; display:block;}
	.flex-caption p{ margin:0.5em 0; font-size:1em; color:#B46F08; }
	ul.flex-direction-nav { right:12%;bottom:25px; top:auto; }
	
	/* Homepage Version 2 : Slide Caption */
	.flex-caption { 
			  background-color:#fff !important;
			  background:url(../images/caption_left.png) 0 0 no-repeat,url(../images/caption_right.png) 100% 100% no-repeat; }
			  		
	#home-v2 .flex-caption h2{ color:#333; }
	#home-v2 .flex-caption h2:after { content:''; border-bottom:4px solid #ccc; position:absolute; width:65px; bottom:0; display:block;}
	#home-v2 .flex-caption p{ margin:1em 0; font-size:1.055em; }
	
}

/* Tablet Portrait */
@media only screen and (min-width: 768px) {
	.flex-caption { padding:1em 3em; top:3.5em; max-width:300px; }
	.flex-caption h2{width:90%; font-size:1.8em; line-height:1em; }
	.flex-caption p{ margin:1em 0; font-size:1.055em; }
}
	
/* Beyond standard 960 */
@media only screen and (min-width: 960px) {
	.flex-caption { left:2%; max-width:400px; box-shadow: 4px 4px 0 0 rgba(49,49,46,0.1); }
	.flex-caption h2{font-size:2.2em; }
		
}

	/* big screen */
	@media only screen and (max-width: 1220px) {
		.flex-caption { left:7%; }
	}
	
	@media only screen and (min-width: 1220px) {
		.flex-caption { left:14%; }
	}