﻿/* #Navigation
================================================== */
	.assistive-text,
	.site .screen-reader-text {position: absolute !important; clip: rect(1px, 1px, 1px, 1px); }
	.main-navigation .assistive-text:hover,
	.main-navigation .assistive-text:active,
	.main-navigation .assistive-text:focus {
		background: #fff; border: 2px solid #333; border-radius: 3px; clip: auto !important; color: #000;
		display: block; padding: 12px;top: 5px;left: 5px;
		position: absolute; z-index: 100000;}
			
		/** Show menu icon for Mobile Devices **/
		.menu-icon{display:block; z-index:9999; width:100px; top:0; right:0; height:99px; background:url(../images/menu.png) no-repeat 0px center; position:absolute; cursor:pointer;}
		.menu-icon:hover{ background-position:right;}
		
		.main-navigation ul > li { list-style: none; text-transform:uppercase;}		
		.main-navigation ul{ padding:0; margin:0 !important;}	
		.main-navigation ul li{ display:block; padding:0; margin:0;}
		.main-navigation ul li a{ display:block; text-decoration:none; border-bottom:1px solid #FFEB63; color:#333; padding:0.657em 0.857em 0.657em 1.857em; line-height:1.786em; margin:0 !important;}
		
		.main-navigation .current-menu-item > a,
		.main-navigation .current-menu-ancestor > a,
		.main-navigation .current_page_item > a,
		.main-navigation .current_page_ancestor > a {
			background-color:#FFEB63;
		}
		
		.main-navigation .current-menu-item,
		.main-navigation .current-menu-ancestor,
		.main-navigation .current_page_item,
		.main-navigation .current_page_ancestor{
			border-left:6px solid #E7C21B;
		}
		
		/** Menu Hover **/
		.main-navigation li:hover {border-left:6px solid #E7C21B;}
		.main-navigation li a:hover{ color:#333; }

		.menu-icon.active{ background-position:right;}
		
		.main-navigation li{
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;		
		}
		
		.main-navigation .current-menu-item > a,
		.main-navigation .current-menu-ancestor > a,
		.main-navigation .current_page_item > a,
		.main-navigation .current_page_ancestor > a {
			font-weight:bold;
		}
				
		.main-navigation { font-family:'Open Sans', Arial, Helvetica, sans-serif; font-weight:400; width:100%; padding:0; margin:0; z-index:9999;}		
		.main-navigation ul li{ display:block; padding:0; margin:0;}
		
		/* Nav Link */
		.nav-menu a{ display:block; line-height:2.5em;}	
		
		/** Appear Menu **/	
		.menu-icon{ right:0; margin-bottom:0;}
		

		/*** Slide Menu Style Starts Here ***/
		
		/* General styles for all menus */
		.cbp-spmenu {
			background: #F7E040;
			position: fixed; z-index:9999;
		}
		
		.cbp-spmenu a {
			display: block;
			color: #fff;
		}
		
		.cbp-spmenu a:active {
			background: #afdefa;
			color: #47a3da;
		}
		
		/* Orientation-dependent styles for the content of the menu */
		
		.cbp-spmenu-vertical {
			width: 240px;
			height: 100%;
			top: 0;
			z-index: 9999;
		}
		
		.cbp-spmenu-vertical a {
			padding: 1em;
		}
		
		/* Vertical menu that slides from the left or right */
		
		.cbp-spmenu-right {
			 right: -240px; 
		}
		
		/* Push classes applied to the body */
		
		.cbp-spmenu-push {
			overflow-x: hidden; overflow-y:auto;
			position: relative;
			left: 0;
		}
		
		.cbp-spmenu-push-toright {
			left: 240px;
		}
		
		.cbp-spmenu-push-toleft {
			left: -240px;
		}
		
		/* Transitions */
		
		.cbp-spmenu,
		.cbp-spmenu-push {
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		
		body.cbp-spmenu-push-toleft {
			overflow:hidden;
		}



	/* ++++++++++++++++++++++++++++++ media queries +++++++++++++++++++++++++++++++++
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	
	/* Up to Mobile Landscape Size */
	@media only screen and (max-width: 479px) {}
	
	/* Upwards of Mobile Landscape Size  */
	@media only screen and (min-width: 480px) {
				
	}
	/* Tablet Portrait */
	@media only screen and (min-width: 768px) {
					
	}
	
	/* Max Screen size 960 */
	@media screen and (max-width: 960px) {
		
		.cbp-spmenu-right.cbp-spmenu-open {
			overflow-y: scroll; right: 0px; z-index:999999 !important;
			overflow-x:hidden;
		}

	}
		
	/* Beyond standard 960 */
	@media only screen and (min-width: 960px) {		
		
		/* open/visible menu for desktop */
		.cbp-spmenu-right {
			right: 0px;
		}
		
		body.cbp-spmenu-push-toleft{ overflow-y:scroll; }
		.cbp-spmenu{position:absolute; right:140px;}
		
		/* ensure #nav is visible on desktop version */
        .nav-menu { display: block !important; }
		
		/* Hide Menu Icon */
		.menu-icon{ display:none; }
		
		.main-navigation { background:#fff;}
		
		/*============================================================================
		==========[ if Home_version_2 : change backgroud color to Yellow. ]==============
		================================================================================= */		
		#home-v2 .main-navigation { background:#f8e040; }
		#home-v2 .main-navigation li:hover {background-color:#ebc82c; border-left:none !important; }
		
		
		.cbp-spmenu-vertical{width:auto; height:99px;}
		
		.main-navigation ul > li { list-style: none; float:left; text-transform:uppercase;}		
		.main-navigation ul{ padding:0; margin:0 !important;}	
		.main-navigation ul li{ display:block; padding:0; margin:0;}
		.main-navigation ul li a{ display:block; text-decoration:none; border-bottom:none; color:#333; padding:41px 1.2em 35px 1.2em; margin:0 !important;}
		
		.main-navigation .current-menu-item > a,
		.main-navigation .current-menu-ancestor > a,
		.main-navigation .current_page_item > a,
		.main-navigation .current_page_ancestor > a {
			font-weight:bold; background-color:#fff;
		}
		
		.main-navigation .current-menu-item,
		.main-navigation .current-menu-ancestor,
		.main-navigation .current_page_item,
		.main-navigation .current_page_ancestor{
			border-bottom:6px solid #09A7A7; border-left:none !important;
		}
		
		/** Menu Hover **/
		.main-navigation li:hover {background-color:#eaebeb; border-left:none !important; }
		.main-navigation li a:hover{ color:#333; }
			
			
		/** Drop down menu **/
		.main-navigation ul ul{ display:none; font-size:0.97em; position :absolute; margin:0 !important; z-index:1; width:200px; background:#6ddddc; z-index:9999; box-shadow: 4px 4px 0 0 rgba(49,49,46,0.3);}
		.main-navigation ul ul li{ display:block !important; float:none; position:relative;}
		.main-navigation ul ul li a{ display:block; color:#333; line-height:20px; padding:0.6em 0.8em;}
		.main-navigation ul ul li a:last-child{border-bottom:none;}
		.main-navigation ul ul li a:hover{ background:#e66d04 !important; color:#fff; } 
		
		
		/** Drop down menu appear **/
		.main-navigation ul li:hover > ul { display:block !important;}
		.main-navigation li:hover ul li a{ background:none;}
		.main-navigation ul ul li:hover{ background:none;border:none !important; }
		.main-navigation ul ul li a:hover{}
		
		/** Second level dropdown menu **/
		.main-navigation ul ul ul{ left:100%; top:0; background:#E7C21B; border-top:none !important; }
		
		.cbp-spmenu-push-toleft {
			left: 0px;
		}	
				
	}
	
	/* big screen */
	@media only screen and (min-width: 1220px) {

	}
	
	@media only screen and (min-width: 1420px) {
					
	}