﻿	/*-----------------------------------------------------------------------------------*
	/* = Isotope CSS Animations
	/*-----------------------------------------------------------------------------------*/
	
	.portfolio-content{ margin:auto; max-width:980px; }
	
	.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; -ms-transition-duration: 0.6s; -o-transition-duration: 0.6s; transition-duration: 0.6s; }
	.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
	.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }
	
	/**** disabling Isotope CSS3 transitions ****/
	.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
	
	/* portfolio items */
	.portfolio-item { position: relative; padding:6px 0 6px 12px !important; width:240px; float:left; }		
	.portfolio-item a { display: block }
	.portfolio-item a img { display: block }
	.portfolio-item a img:hover { opacity: 0.8; -moz-opacity: 0.8; -webkit-opacity: 0.8; }
	.portfolio-overlay { position: absolute; bottom: 0; left: 0; }
	.portfolio-overlay h3 { font-size: 11px; font-weight: normal; margin: 0; text-transform: uppercase; max-width: 180px; padding: 5px 7px; background: #000; color: #fff; }
	
	/* Filters */
	#portfolio-cats { float:none; display:block; }
		
	ul.filter{ padding:0 0 2.5em 0; margin:0 auto; text-align:center; font-size:1em;}	
	ul.filter li { display:inline-block; margin:0 auto; height:35px; }
	
	ul.filter .active{ background-color:#50c6c6; color:#fff; }
	ul.filter .active a{ color:#fff; }
	
	ul.filter a{ color:#666; text-decoration:none; padding:0.5em 1em; border-radius:3px; }
	ul.filter a:hover{ background-color:#feec76; color:#333; }
	
	ul.filterable-grid{  }
	
	ul.filterable-grid li {
		margin:0.5em;
	}
	ul.filterable-grid li p {
		text-align:center;
		display:block;
	}
	
	
	/** Portfolio Detail Page **/
	#portfolio-navigation-wrap{ display:inline-block; float:right; background-color:#40caca; clear:both; color:#fff; padding:10px 20px; margin:20px 0 10px 0; }
	#portfolio-navigation-wrap i{ display:inline-block; margin:0 5px; }
	#portfolio-navigation-wrap a{ color:#fff; }
		#portfolio-navigation-wrap a:hover{ color:#000; }
	
	
	#project-summary{ border-top:1px solid #E6E4E4; padding:20px 0 0 0; margin:10px 0; }
	#project-summary p{ margin:0 0 10px 0; }
	#project-summary span{ width:50%; display:inline-block; vertical-align:top; }
	#project-summary strong{ color:#666; }
	
	
	
	/* Up to Mobile Landscape Size */
	@media only screen and (max-width: 479px) {
		.portfolio-item { padding:6px !important; }
		ul.filter li{ display:block; }
	}