﻿/*-----------------------------------------------------------------------------------*/
/*	Button
/*-----------------------------------------------------------------------------------*/

.button{ 
	 	display:inline-block; vertical-align:top; 
	 	padding:0.9em 2em; margin:10px 10px 10px 0;
	 	border-radius:3px; cursor: pointer; text-align:center;
	 	font-size:0.99em; font-weight:400; text-transform:uppercase; text-decoration:none;
	 	/* Box Shadow */
		-moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.33);
		-webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.33);
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.33);
	 }
	 .button:after{content: "\f178"; font-family:FontAwesome; margin-left:1em; }
	 .button.dark-grey{ background-color:#666; }
	 .button.light{ background-color:#e3e1e1 !important; color:#000; }

	.button.light-cyan{background:#51C6C6;}
		.button.light-cyan:hover{background:#34AFAF;}
	.button.cyan{background:#049595;}
		.button.cyan:hover{background:#0A7070;}
	.button.orange{background:#E76D04;}
		.button.orange:hover{background:#C06517;}
	.button.dark-grey{background:#666;}
		.button.dark-grey:hover{background:#1C1B1A;}
		
	
.button.light-cyan,
.button.cyan,
.button.orange,
.button.dark-grey { color:#fff !important; }

.button.small{ padding:0.5em 1.5em; font-size:0.80em; }
.button.medium{ padding:1em 2.5em; }
.button.large{ padding:1.3em 2em; font-size:1.5em; font-weight:300 !important; line-height:1.1em; }

/*--------------------------- END Button -------------------------------- */

/*-----------------------------------------------------------------------------------*/
/*	Tabs Shortcode 
/*-----------------------------------------------------------------------------------*/

/* ----------- Tabs type 2 & 3 ------------- */
.tabs{
	-moz-box-sizing:content-box !important;
	box-sizing:content-box !important;
	margin-bottom:2em;
	}
div.tabs .tab_names {
	padding-bottom: 0 !important;
	margin: 0 !important;
	border-bottom: 1px solid #e5e5e5;
	-moz-box-sizing:content-box !important;
	box-sizing:content-box !important;
}
div.tabs .tab_names a {
	display: block; float:left;
	margin-bottom: -1px;
	background-image: none;
	text-decoration: none;
	font-weight:bold;
	padding: 7px 12px;
	border: 1px solid #e5e5e5;
	border-left: none;
	color:#7d7d7d;
	background: #fafafa;
	-moz-box-sizing:content-box !important;
	box-sizing:content-box !important;
}
div.tabs .tab_names a:hover {
	background: #51C6C6; color:#fff;
}
div.tabs .tab_names {
	height:35px;
}
div.tabs .tab_names a {
	height:35px;
	line-height:35px;
	padding: 0 20px;
	border:none;
}
div.tabs .tab_names a.current {
	border: 1px solid #e5e5e5;
}
div.tabs .tab_names a.current {
	border-bottom: 1px solid #fff;
	border-top:2px solid #51C6C6;
	background: #fff;
	color: #51C6C6;
}
div.tabs .content {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-top: none;
	color: #6f6f6f;
	padding:  16px 20px;
	-moz-box-sizing:content-box !important;
	box-sizing:content-box !important;
}

/*--------------------------- END Tabs -------------------------------- */


/* ----------- Accordion ------------ */
.accordion .accordion_item {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 5px; margin-top:5px;
}
.accordion .accordion_item .accordion_title {
	margin: 0;
}
.accordion .accordion_item .accordion_title a {
	color: #191919;
	display: block;
	padding: 10px 50px 10px 50px;
	position: relative; text-transform:uppercase;
	text-decoration: none;
	background: #f9f9f9;
}
.accordion .accordion_item .accordion_title a:hover {
	color:#e76d04;
}
.accordion .accordion_item .accordion_title a span.accordion_icon {
	width: 22px;
	height:22px;
	position: absolute;
	top: 8px;
	left: 10px;
	border-top: none;
	border-radius:2px;
	background: #89DCDC;	
}
.accordion .accordion_item .accordion_title a span.accordion_icon:after {
	display: block;
	height: 10px;
	width: 2px;
	background: #fff;
	position: absolute;
	top: 6px;
	left: 50%;
	margin-left: -1px;
	content: "";
}
.accordion .accordion_item .accordion_title a span.accordion_icon:before {
	display: block;
	height: 2px;
	width: 10px;
	background: #fff;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -5px;
	content: "";
}
.accordion .accordion_item .accordion_title a.current {
	background:#ffffff;
}
.accordion .accordion_item .accordion_title a.current {
	color:#e76d04;	
}
.accordion .accordion_item .accordion_title a:hover span:before,
.accordion .accordion_item .accordion_title a:hover span:after,
.accordion .accordion_item .accordion_title a.current span:before {
	background: #fff;
}
.accordion .accordion_item .accordion_title a.current span {
	background: #e76d04; color:#fff !important;	
}
.accordion .accordion_item .accordion_title a.current span:after {
	display: none;
}
.accordion .accordion_item .accordion_content {
	padding: 0 18px 18px 50px;
	display:none;
}
/* -----------/Accordion ------------ */

/*-----------------------------------------------------------------------------------*/
/*	Columns
/*-----------------------------------------------------------------------------------*/

.one_one { width: 100%; }
.one_half { width:48%; }
.one_third { width:30.66%; }
.two_third { width:65.33%; }
.one_fourth { width:22%; }
.three_fourth { width:74%; }
.one_fifth { width:16.8%; }
.two_fifth { width:37.6%; }
.three_fifth { width:58.4%; }
.four_fifth { width:67.2%; }
.one_sixth { width:13.33%; }
.five_sixth { width:82.67%; }

.one_half, .one_third, .two_third,
.three_fourth, .one_fourth, .one_fifth,
.two_fifth, .three_fifth, .four_fifth,
.one_sixth, .five_sixth { 
	position:relative; 
	margin-right: 4%;
	margin-bottom:10px; 
	float:left; 
}

.column_last { 
	margin-right:0 !important; 
	clear:right; 
}

.clearboth {
	clear:both;
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	width:100%;
}

.column { margin-bottom: 2.5em; clear:both; }
.column p { margin-bottom: 1.5em; }

/* Drop Caps */

.dropcaps {
	display: inline-block; font-weight:200 !important;
	margin: 3px 8px 0px 0px;
	float: left;
}

.dropcaps.cyan{background:#51C6C6; color:#fff;}
.dropcaps.orange{background:#E76D04; color:#fff;}
.dropcaps.grey{background:#333; color:#fff;}
.dropcaps.yellow{background:#F7E040; color:#333;}
.dropcaps.no-background{ background:none; padding:0.2em 0.2em 0.2em 0 !important;}
.dropcaps.no-background.size-normal{font-size:4.8em !important; margin:4px 0 0 0 !important;}
.dropcaps.no-background.size-big{font-size:5.8em !important; margin:12px 0 0 0 !important;}

.dropcaps.size-big{ font-size:3.5em; padding:0.5em; }
.dropcaps.size-normal{ font-size:2.2em; padding:0.5em; }

.dropcaps.dropcasps-size-big {
	margin: 5px 10px 0px 0px;
	font-size: 45px;
	padding: 8px 18px;
	line-height: 40px;
}

/* Highlight Sentences */

.highlight-yellow{background:#FCFA7A; color:#333;}
.highlight-orange{ background:#E76D04; color:#fff;}
.highlight-border{ border-bottom: 2px solid #51C6C6; }
.highlight-cyan{ background:#89FFFF; color:#333;}
.highlight-circle{background:#333; color:#fff; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;}

.highlight-yellow,
.highlight-orange,
.highlight-border,
.highlight-cyan,
.highlight-circle{ display:inline-block; padding:0 0.3em; }

/* Blockquote */

blockquote {
font-style: italic; padding:2.5em 2.5em; margin:0.5em 0; background:#f2f2f2; clear:both; position:relative;
}
blockquote.right{ text-align:right !important; }
blockquote:before { content:"\f10d"; font-family:fontawesome; position:absolute; color:#fff; font-style:normal; top:40px; font-size:4em; width:80px; line-height:0.8em;}
blockquote p{ padding:0 0 0 80px; float:left; margin:0 !important; color:#333; font-size:1.3em; display:inline-block; }
blockquote footer,
blockquote cite { padding:1em 2em 0 80px !important; clear:both; float:none; display:block; color:#333; }
blockquote cite:before, blockquote footer:before{ content:"-"; margin-right:4px; }
blockquote footer a{ color:#333; text-decoration:none;}

blockquote.cyan footer{background:#51C6C6; color:#fff;}
blockquote.orange footer{background:#E76D04; color:#fff;}
blockquote.grey footer{background:#333; color:#fff;}
blockquote.light-yellow{background:#fae999;}


/* Alert Box */

.alert{ display:block; padding:1.2em 1.5em; color:#fff; margin-bottom:1em; position:relative; }
.alert.success{background:#89DCDC;}
.alert.error{background:#E76D04;}
.alert.warning{background:#4BC4C4;}
.alert.notification{background:#333;}

.alert-close { font-family:fontawesome; cursor:pointer; position:absolute; right:10px; top:10px; }
.alert i { margin-right:0.7em; font-size:1.2em; font-family:fontawesome; font-style:normal; }

.alert i.icon-success:before{content: "\f024";}
.alert i.icon-error:before{content: "\f057";}
.alert i.icon-warning:before{content: "\f071";}
.alert i.icon-notification:before{content: "\f05a";}


/* Icon Box */

 /** Colorful Boxes **/
 .cyan-light-box{ background-color:#51c6c6 !important;}
 .cyan-box{background-color:#34afaf !important;}
 .darkorange-box{background-color:#e76d04 !important;}
 .light-blue-box{ background-color:#43a1c8 !important;}
 .blue-box{background-color:#5a69d4 !important;}
 .yellow-box{ background-color:#edce04 !important; }
 

.icon-box { margin:2.5em 0 3.7em 0; clear:both; }
.icon-box .icon-box-title{ padding-top:0; margin:0; clear:none; text-transform:uppercase; font-size:1em !important; font-weight:700; }
.icon-box article{ 
	display:block; padding:2.5em 2em 1.5em 2em; background:#666; color:#fff; font-weight:400; margin:1em auto; position:relative;
	/* Transition Effect */
	-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; 
	-ms-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
}
.icon-box article .icon-box-title,
.icon-box article a { color:#fff; }
.icon-box i { float:left; font-size:3em; width:40px; height:40px; margin-right:6px; }	

.icon-box article:hover {
	
	/* Transform */
	-webkit-transform: skew(5deg, -3deg);
	-moz-transform: skew(5deg, -3deg);
	-ms-transform: skew(5deg, -3deg);
	-o-transform: skew(5deg, -3deg);
	transform: skew(5deg, -3deg); 
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
		
	 z-index:9999;	
}

/* Icon Box - WHITE */

.white-box { background-color:#fff !important; border:1px solid #e2e2e2; }
.white-box i, .white-box .icon-box-title, .white-box p, .white-box .more-arrow { color:#333 !important; }

	.white-box:hover{
		background-color:#e66d04 !important;
	}
	.white-box:hover i, .white-box:hover .icon-box-title, .white-box:hover p, .white-box:hover .more-arrow { color:#fff !important; }
	
	

/* List */
	
ul.star{ margin:1em 0; list-style:none; }
ul.star li{ padding:0 0 8px 35px; position:relative; }
ul.star li:before{
	font-family:FontAwesome; width:20px; height:20px; left:0; top:3px; content:"\f005"; position:absolute;
}
	
	

/**************************************
***************[ Media Queries ]***********
******************************************/



	/* Up to Mobile Landscape Size */
	@media only screen and (max-width: 479px) {
	/* Columns */
		.one_half, .one_third, .two_third,
		.three_fourth, .one_fourth, .one_fifth,
		.two_fifth, .three_fifth, .four_fifth,
		.one_sixth, .five_sixth { 
			position:relative; 
			margin-top: 1.5em;
			margin-bottom:1.5em;
			width:100%; 
			float:none; 
		}
	}
	
	/* Upwards of Mobile Landscape Size  */
	@media only screen and (min-width: 480px) {
		/* Featured Services */
		.icon-box p,
		.icon-box h5 { display:block; }
		
		/* Making Featured Services 3 column in Desktop and big Screen size */
		.icon-box.three_col > article { float:left; width:33.33333333333333%; }
		.icon-box.two_col > article { float:left; width:50% !important; }
	}

	/* Beyond standard 960 */
	@media only screen and (min-width: 960px) {
	
		/* Featured Services */
		.icon-box p,
		.icon-box h5,
		.icon-box a { padding-left:50px; }
		
		/* Making Featured Services 3 column in Desktop and big Screen size */
		.icon-box.three_col > article { float:left; width:33.33333333333333%; }
		.icon-box.two_col > article { float:left; width:50% !important; }	
	}













